{% extends "list/base.html" %}
{% block content %}
<legend class='border-bottom'>To Do</legend>

<form method="POST" action="/">
    {% csrf_token%}
    {{form.title}}
    <input class="btn-info btn" type="submit" name="Create Task">
</form>

{% for task in tasks %}
    <div>
        <a href="{% url 'edit-task' task.id%}" >Update</a>
        <a href="{% url 'delete-task' task.id%}" >Delete</a>
        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif%}
    </div>
{% endfor %}
{% endblock content%}